<div class="container">
  <div class="level">
    <mat-button-toggle-group name="level" aria-label="View level" (change)="levelChange($event)">
      <mat-button-toggle value="roof" [checked]="level.Roof === currentLevel">Roof</mat-button-toggle>
      <mat-button-toggle value="ground" [checked]="level.Ground=== currentLevel">Ground floor</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="panel">
    <h1>Info panel</h1>
    <div class="level">Points : {{ points }}</div>
    <br />
    <br />
    <app-attribute-panel [energyEfficiency]="energyEfficiency"></app-attribute-panel>
    <div><button mat-raised-button color="primary" (click)="visualiseData($event)">Visualise Data</button></div>
    <div><button mat-raised-button color="primary" (click)="shareData($event)">Share Data</button></div>
    <div><button mat-raised-button color="primary" (click)="addSolarPanels()" [disabled]="!isSolarPanelsActive">Solar Upgrade: Cost $1500 ROI - $100 per year</button></div>
    <div><button mat-raised-button color="primary">Hydro Upgrade: Cost $1000 ROI - $30 per year</button></div>
    <div><button mat-raised-button color="primary">Kinetic Upgrade: Cost $500 ROI - $50 per year</button></div>
    <div><button mat-raised-button color="primary">Energy Upgrade: Cost $300 ROI - $350 per year</button></div>
    <div><button mat-raised-button color="primary">Data Upgrade: Cost $100 ROI - $150 per year</button></div>
  </div>
</div>
