<div class="container">
  <div class="panel">
    <h1>Info panel</h1>
    <div class="level">Points : {{ points }}</div>
    <br />
    <br />
    <app-attribute-panel></app-attribute-panel>
    <div><button (click)="visualiseData($event)">Visualise Data</button></div>
    <div><button (click)="shareData($event)">Share Data</button></div>
    <div><button>Solar Upgrade: Cost $1500 ROI - $100 per year</button></div>
    <div><button>Hydro Upgrade: Cost $1000 ROI - $30 per year</button></div>
    <div><button>Kinetic Upgrade: Cost $500 ROI - $50 per year</button></div>
    <div><button>Energy Upgrade: Cost $300 ROI - $350 per year</button></div>
    <div><button>Data Upgrade: Cost $100 ROI - $150 per year</button></div>
  </div>
</div>
