<div class="level">
  Level 0 <progress id="file" value="60" max="100">60</progress> Level 1
</div>
<br />
<br />

<div class="attribute">
  Heat Efficiency<progress id="file" value="60" max="100">60</progress>
</div>
<div class="attribute">
  Energy Efficiency<progress id="file" value="50" max="100">50</progress>
</div>
<div class="attribute">
  Maintenance<progress id="file" value="32" max="100">32</progress>
</div>
<div class="attribute">
  Recycling<progress id="file" value="80" max="100">80</progress>
</div>
